@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
.active {
  color: #009940 !important;
}
.active::after {
  content: "" !important;
  display: block !important;
  border-bottom: 3px solid #009940 !important;
  width: 70% !important;
  margin: auto !important;
  margin-bottom: -3px !important;
}
.logo {
  color: white !important;
  background-color: #009940;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 5px;
}
#home {
  height: 80vh;
  width: 100%;
  background-color: #000;
  color: #636363;
  animation: slideUp 0.5 ease;
}
@keyframes slideUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(-10%);
    opacity: 1;
  }
}
.success {
  background-color: #009940 !important;
}
.success:hover {
  background-color: #007e34 !important;
}
#service {
  padding-top: 100em;
  height: 80vh;
  width: 100%;
  background-color: #009940;
}
